.env
**/config/
**/data/


*.bak
photoprism/

#Once i get photoprism running this will exclude the storage folder.
photoprism/storage

tig-stack/telegraf/
heimdall/app.sqlite
/docker/youtube-dl/release-versions/
/docker/youtube-dl/root/
/docker/youtube-dl-gui/appdata/
/docker/youtube-dl-gui/audio/
/docker/youtube-dl-gui/subscriptions/
/docker/youtube-dl-gui/users/
/docker/youtube-dl-gui/video/


